/ReadMe.txt
/data/
/build/
/src/archiv/
/Snap-3.0/
/src/preprocessing_Friendster.cpp
/src/unsorted_functions_code.cpp

*.sublime*
*.tags
*.pdf

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
